#loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

:root {
    font-family: Oswald;
    font-weight: 300;
}

:root *:focus-visible {
    outline: none; 
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


